development:
  adapter: postgresql
  encoding: unicode
  database:
  pool: 5
  username:
  password:
  host: localhost
  port: 5432

test:
  adapter: postgresql
  encoding: unicode
  database:
  pool: 5
  username:
  password:
  host: localhost
  port: 5432
